h2 {
	text-align: center;
}

#test a:link,
#test a:visited {
	text-decoration: none;
	color: red;
}

#test a:hover {
	text-decoration: underline;
	color: blue;
}

.www a {
	text-decoration: underline;
	color: blue;
}
.www a:hover {
	text-decoration: none;
}


.eee