h2 {
	text-align: center;
}

#test:link,
#test:visited {
	color: red;
	text-decoration: none;
}

#test:hover{
	color:blue;
	text-decoration: underline;
}

.www:link,
.www:visited {
	color: blue;
	text-decoration: underline;
}

.www:hover{
	text-decoration: none;
}

.eee.www:link {
	color: red;
	text-decoration: overline;
}

.eee.www:visited {
	color: orange;
	text-decoration: line-through;
}


.eee.www:hover{
	color: green;
	text-decoration: underline;
}




